.command {
  padding-bottom: 10px;
}

.input {
  padding-bottom: 5px;
}

.output {
  position: relative;
  vertical-align: text-top;
  padding-left: 30px;
  white-space: pre-line;
}

.output a {
  color: #00b2ff;
}

.arrow {
  color: #00b2ff;
}